[Desktop Entry]
Name=Snowboard Kids: Recompiled
Type=Application
Terminal=false
Icon=SnowboardKidsRecompiled
Exec=SnowboardKidsRecompiled
GenericName=SnowboardKidsRecompiled
Categories=Game;
